@CHARSET "UTF-8";

html,body {
	border:none; margin:0; padding:0;     
    font-family: Arial, Helvetica;
    background: transparent;
}

a {text-decoration: none}

.zone {
    width: 298px;
    height: 598px;
    overflow: hidden;
    border: solid 1px #cccccc;
    padding: 0;
    margin: 0;
}

ul {
    overflow:hidden;
    list-style-type:none;
    margin: 0; padding: 0;
}

ul li, table.ad, div.nb {
	padding: 0px;
	margin: 3px;
	height: 94px;
	width: 292px;
	overflow: hidden;
}

table.ad tr td {padding: 0; margin: 0; }

table.ad tr td.image {
	width: 100px;
	height: 75px;
	overflow: hidden;
	padding: 0 1px;
}

table.ad tr td.text {
	padding: 0 3px;
}

a.description {
	font-weight: normal;
	font-size: 13px;
}

.advlabel {
	height: 13px;
	font-size: 11px;
	color: #aaaaaa;
	text-align: right;
	width:290px; 
}

